// *** MEDIA QUERY MOBILE ***//
@mixin mobile {
    @media (max-width: 900px) {
        @content;
    }
}

// *** TEXTO TRUNCADO EN UNA LÍNEA ***//
@mixin truncar {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// *** CENTRAR CON FLEXBOX ***//
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

// *** FORMA DE BTN ***//
@mixin btn-base {
    display: inline-flex;
    align-items: center;
    font-family: var(--font-titulo);
    font-size: 21px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;

    &:hover {
        font-weight: 600;
    }
}