:root {
    // --- Colores dark mode ---
    --fondo-principal:    #0E1117;
    --texto-principal:    #F5F7FA;
    --texto-apagado:      #5270A3;
    --tag:                #6B9FD4;
    --acento:             #0084FF;
    --fondo-secundario:   #334D78;
    --texto-tarjetas:     #F5F7FA;

    // --- Colores botón (dark mode = "botón 1") ---
    --btn-fondo:          #F5F7FA;
    --btn-letra:          #4A5568;
    --btn-fondo-hover:    #709AC4;
    --btn-letra-hover:    #F5F7FA;
}

:root.light {
    // --- Colores light mode ---
    --fondo-principal:    #F5F7FA;
    --texto-principal:    #1A1A2E;
    --texto-apagado:      #5270A3;
    --tag:                #6B9FD4;
    --acento:             #0084FF;
    --fondo-secundario:   #334D78;
    --texto-tarjetas:     #F5F7FA;

    // Colores botón (light mode = "botón 2")
    --btn-fondo:          #1A1A2E;
    --btn-letra:          #F5F7FA;
    --btn-fondo-hover:    #709AC4;
    --btn-letra-hover:    #F5F7FA;
}

// Tipografía
:root {
    --font-titulo: 'Outfit', sans-serif;
    --font-texto:  'Nunito Sans', sans-serif;
}